{% extends parent_template|default:"plasticsite/base_site.html" %}

{% block title %}
Advantages and disadvantages
{% endblock %}

{% block content %}
  <div>
    <h3>Advantages of plastics</h3>
      <p>Plastics are mostly very light weight and so they can be used to keep products light weight. They are also malleable. This means they can be easily bent to very many shapes and forms, which allows them to be used in many different purposes. Plastics come in many different colours and they do not need to be painted if wanted a specific colour. Plastics are thermally and acoustically insulating.</p>
    <h3>Disadvantages</h3>
      <p>Plastics are very useful but also very harmful. Plastic is an indestructible compound so it cannot be completely destroyed. Even if it is melted there are dangerous gases produced and left behind. The health and environmentally harmful gas weakens the ozone layer which is a factor of increasing global warming. The majority of plastics are made out of oil, which the world is gradually running out of. </p>

<p>Plastics thrown in the ocean and nature are environmentally harmful, but also a big health hazard for animals.  Animals often think the plastic substances they see in the nature and seas are food which they eat. This results in the plastic piling up in the animal’s stomach and often leads to death.</p>
 
  </div>

{% endblock %}
 
