{% extends parent_template|default:"plasticsite/base_site.html" %}

{% block title %}
Get involved
{% endblock %}

{% block content %}
  <div>
    <h3>How can you help?</h3>
      <p>As the world’s population increases, also the Plastic in the environment causes more problems. People all around the world are trying to create alternative materials for plastics that would be more environmentally friendly. </p>

    <h3>You can reduce the usage of plastic products and recycle them by:</h3>
      <ul>
        <li>Recycling plastics and bottles, take the plastic produced to the nearest recycling station</li>
        <li>Use reusable bags for shopping</li>
        <li>Pack your food in reusable boxes and bottles</li>
        <li>Many fruits have natural covers, they do not need bags</li>
      </ul>
  </div>

{% endblock %}
